.card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.invalid-feedback {
  display: block;
}

.alert {
  padding: 10px;
  font-size: 14px;
}

button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
